
body{
    background-image: url("../image/penguin2.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: relative;
}

p {
    color: aliceblue;
    font-size: 40px;
    font-family: 'DotGothic16', sans-serif;
}

.nameTag{
    color: aliceblue;
    font-size: 70px;
    font-family: 'DotGothic16', sans-serif;
    margin-left: 8%;
    margin-top: 0%;
}