body{
    font-family:'メイリオ', 'Meiryo', sans-serif;
}
.box{
    width: 100%;
    height: 3000px;
}

.navigation{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}


.background_penguin{
    width: 100%;
    height: 1800px;
    background: url("../image/penguin2.jpeg");
    background-size:cover;
    background-attachment: fixed;   /*画像を固定*/
}


.nameTag{
    color: aliceblue;
    font-size: 70px;
    font-family: 'DotGothic16', sans-serif;
    margin-left: 8%;
    margin-top: 0%;
    position:absolute;
    top: 10%;
}

.workpage{
    color:black;
    font-weight: bold;
    font-size: 70px;
    font-family: 'DotGothic16', sans-serif;
    margin-left: 8%;
    margin-top: 0%;
    position:absolute;
    top: 10%;
}



h2 {
    font-size: 100px;
    font-family:'メイリオ', 'Meiryo', sans-serif;
    margin: 0;
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin-left: 30px;
    padding: 0 10px;
}



.midashi {
    position: relative;
    margin-bottom: 15px;
}

.midashi:before {
    content:  '';
    background-color: #000;
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    }

.white {
    width: 100%;
    height:70px;
}

.first{

    padding-top: 70px;
    margin-top: -70px;
}

.about{
    margin: 10%;
    width: 90%;
    position:center;
    overflow: hidden;
}

.about-box{
    float: left;
}

.about img{
    border-radius: 10px;
}

.about-box-p{
    width: 150%;
    margin-left: 40%;
}

.works{
    margin: 10%;
    width: 80%;
    position:center;
}

.basket{
    width: 200px;
    height:auto;
}



ul.exp-list{
    display: flex;
    margin-bottom: 50px;
}
li.exp-list{
    list-style: none;
    margin-right: 20px;
}


.workBox{
    margin-left: 10%;
    margin-bottom: 10%;
    width: 90%;
    position:center;
    overflow: hidden;
}

p.text{
    font-size:20px;
}

.example{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 8px gray;
}

figure {
    width:23vw;
    float: left;
    margin: 0px 3px 7px 0px; /* 外側に余白を追加(※右に3px・下に7px) */
    background-color: white;  /* 背景色 */
}
/* ▼画像に対する装飾 */
figure img {
    width:20vw;
    display: block;          /* 余計な余白が出ないようにする */
    margin: 0px 0px 3px 10px; /* 下側にだけ3pxの余白を追加 */
}
/* ▼キャプションに対する装飾 */
figcaption {
    font-size: 0.9em;        /* 文字サイズを90%に */
    text-align: left;      /* 中身をセンタリング */
}


.pics{
    width: 100%;
    height: fit-content;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

object{
    box-shadow: 0 0 8px gray;
}